h1 {
    font-family : sans-serif;
    font-size : 24px;
    text-shadow : 2px 2px 2px #aaaaaa;
    color: #ffffff;
    background-color: #444444;
    text-align: center;
    height: 30px;
    padding-top: 2px;
}

h2 {
	font-family : sans-serif;
    font-size : 18px;
    background-color: #ccccee;
    height: 30px;
    padding-top: 13px;
    border-bottom: solid 3px #7777ee;
}


th {
    background-color: #cccccc;
}

td {
	background-color: #eeeeee;
}

hr {
	color: #eeeeee;
}

form {
    background-color: #eeeeee;
    padding-left: 10px;
}

label {
    padding-left: 10px;
}